<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Blaze Tornado Example</title>

    <!-- CSS -->
    <link rel="stylesheet" media="screen" href="/static/styles/styles.css">

    <!-- JAVASCRIPT -->
    <script src="/static/js/bower_components/blaze/target/blaze.js"></script>

    {% block templates %}{% end %}
    <script type="text/javascript">

      // Compile All block templates...
      Blaze.compileTemplates();
    </script>
  </head>

  <body>
    <div id="Surface">
      <div class="header"></div>
      <div class="container">
        <div class="content">
          {% block main %}{% end %}
        </div>
      </div>
      <div class="footer">
        <div class="content"></div>
      </div>
      {% block javascript %}{% end %}
  </body>
</html>
